@font-face {
    font-family: "Lora Regular";
    src: url(/assets/fonts/Lora/Lora-Regular.ttf) format("truetype");
  }
@font-face {
    font-family: "Bebas Neue Bold";
    src: url(/assets/fonts/BebasNeue/BEBASNEUE\ BOLD.TTF) format("truetype");
}

.PostCafe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}

body {
    font-family: "Lora Regular", sans-serif;
}

h1 {
    font-family: "BebasNeue Bold", sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* navigation */
.nav ul li{
    font-family: "Lora Regular", sans-serif;
    font-weight: 700;
}
/* footer */
.footer {
    background-color: #6F4E37;
    color: white;
    padding: 20px 0;
}
.footer p {
    margin-bottom: 10px;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    color: #D2B48C;
}

  